.articles {
  display: grid;
  gap: 1rem;
  max-width: 940px;
  margin: 0 auto;
  padding-bottom: 2rem;
  grid-template-columns: 3fr 6fr 3fr;
  grid-template-areas: "left center right";

  a {
    text-decoration: none;
    color: inherit;
  }

  .area-left {
    grid-area: left;
  }

  .area-center {
    grid-area: center;
  }

  .area-right {
    grid-area: right;
  }

  .divider {
    height: 1px;
    width: 100%;
    background-color: var(--border);
    margin: 0.5rem 0;
  }

  .title {
    font-size: 1rem;
    line-height: 1.4rem;
  }

  .paragraph {
    font-size: 0.85rem;
    text-align: justify;
    line-height: 1.35rem;
  }

  .secondary {
    opacity: 0.5;
    font-size: 0.75rem;
  }

  .img {
    min-height: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .area-left, 
  .area-right {
    gap: 0.5rem;

    & > .grid-article:not(:first-child) {
      padding-top: 0.5rem;
    }

    & > .grid-article:not(:last-child) {
      padding-bottom: 0.5rem;
      border-bottom: 1px solid var(--border);
    }
  }
  .area-right {
    .grid-article > div {
      direction: rtl;
      text-align: left;
      .info{
        direction: ltr;
      }
    }
  }

  .area-center {
    display: grid;
    gap: 0.5rem;

    & > .main-article:not(:last-child) {
      padding-bottom: 0.5rem;
      border-bottom: 1px solid var(--border);
    }
  }

  @media screen and (max-width: 640px) {
    .area-left,
    .area-right {
      // & > .grid-article:not(:first-child) {
      //   padding-top: 0rem;
      // }

      // & > .grid-article:not(:last-child) {
      //   padding-bottom: 0rem;
      //   border-bottom: none;
      // }
    }
    .area-right {
      .grid-article > div {
        direction: ltr;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .articles {
    font-size: 0.75rem;
    gap: 0;
    grid-template-areas: "center" "left" "right";
    grid-template-columns: 1fr !important;
  }

  .area-center,
  .area-left,
  .area-right {
    margin: 0 0.5rem;
  }

  .area-center {
    margin: 0 0.5rem;

    .main-article {
      padding: 0rem;
    }

    & > .main-article:not(:last-child) {
      padding-bottom: 0.5rem;
    }

    & > .main-article:last-child {
      padding-bottom: 0.5rem;
      border-bottom: 1px solid var(--border);
    }
  }

  .area-left,
  .area-right {
    display: grid;
    gap: 0.5rem;
    padding: 0.5rem 0;
    grid-template-columns: 1fr;
    border-bottom: 1px solid var(--border);

    & > div {
      border-bottom: none !important;
    }

    & > div:not(:last-child) {
      padding-right: 0.5rem;
      border-right: 1px solid var(--border);
    }

    & > div:not(:first-child) {
      padding-top: 0rem !important;
    } 
  }
}
