.articles {
  display: grid;
  gap: 1rem;
  max-width: 940px;
  margin: 0 auto;
  padding-bottom: 2rem;
  grid-template-columns: 3fr 6fr 3fr;
  grid-template-areas: "left center right";

  a {
    text-decoration: none;
    color: inherit;
  }

  .area-left {
    grid-area: left;
  }

  .area-center {
    grid-area: center;
  }

  .area-right {
    grid-area: right;
  }

  .divider {
    height: 1px;
    width: 100%;
    background-color: var(--border);
    margin: 0.5rem 0;
  }

  .title {
    font-size: 1rem;
    line-height: 1.4rem;
  }

  .paragraph {
    font-size: 0.85rem;
    text-align: justify;
    line-height: 1.35rem;
  }

  .secondary {
    opacity: 0.5;
    font-size: 0.75rem;
  }

  .img {
    min-height: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .area-left {
    gap: 0.5rem;

    & > .grid-article:not(:first-child) {
      padding-top: 0.5rem;
    }

    & > .grid-article:not(:last-child) {
      padding-bottom: 0.5rem;
      border-bottom: 1px solid var(--border);
    }
  }

  .area-center {
    display: grid;
    gap: 0.5rem;

    position: relative;

    // $numquotes: 3;
    // $fadingin: 1s;
    // $showing: 5s;
    // $fadingout: 1s;
    // $duration: ( fadingin + showing + fadingout ) * numquotes; = 21

    // https: //stackoverflow.com/questions/65849610/display-divs-one-by-one-with-css-animation
    
    @keyframes fadeinout {
      0% {
        opacity: 0;
      }
  
      4.76% {
        /* = fadingin / duration * 100% */
        opacity: 1;
        z-index: 1;
      }
  
      28.57% {
        /* = (fadingin + showing) / duration * 100% */
        opacity: 1;
      }
  
      33.33% {
        /* = (fadingin + showing + fadingout) / duration * 100% */
        opacity: 0;
      }
  
      100% {
        opacity: 0;
        z-index: -1;
      }
    }
  
    & > .main-article {
      position: absolute;
      width: 100%;
      opacity: 0;
      animation-name: fadeinout;
      animation-duration: 21s;
      /* = (fadingin + showing + fadingout) * numquotes */
      animation-iteration-count: infinite;
    }

    & > .main-article:nth-child(1) { /* delay = (i-1) / numquotes * duration; */
      animation-delay: 0s;
    }
    & > .main-article:nth-child(2) {
      animation-delay: 7s;
    }
    & > .main-article:nth-child(3) {
      animation-delay: 14s;
    }
    
    & > .main-article:not(:last-child) {
      padding-bottom: 0.5rem;
      border-bottom: 1px solid var(--border);
    }
  }

  @media screen and (max-width: 640px) {
    .area-left {
      & > .grid-article:not(:first-child) {
        padding-top: 0rem;
      }

      & > .grid-article:not(:last-child) {
        padding-bottom: 0rem;
        border-bottom: none;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .articles {
    font-size: 0.75rem;
    gap: 0;
    grid-template-areas: "center" "left" "right";
    grid-template-columns: 1fr !important;
  }

  .area-center,
  .area-left,
  .area-right {
    margin: 0 0.5rem;
  }

  .area-center {
    margin: 0 0.5rem;

    .main-article {
      padding: 0rem;
    }

    & > .main-article:not(:last-child) {
      padding-bottom: 0.5rem;
    }

    & > .main-article:last-child {
      padding-bottom: 0.5rem;
      border-bottom: 1px solid var(--border);
    }
  }

  .area-left {
    display: grid;
    gap: 0.5rem;
    padding: 0.5rem 0;
    grid-template-columns: 1fr;
    border-bottom: 1px solid var(--border);

    & > div {
      border-bottom: none !important;
    }

    & > div:not(:last-child) {
      padding-right: 0.5rem;
      border-right: 1px solid var(--border);
    }

    & > div:not(:first-child) {
      padding-top: 0rem !important;
    } 
  }
}
