.mini-article {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 0;
    .img{
        min-height: unset;
        height: 60px;
        width: calc(33% - 0.25rem);
    }
    .info{
        display: flex;
        gap: 0.75rem;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        h1{
            font-size: 0.9rem;
        }
    }
}