.full-article {
    display: grid;
    gap: 0.5rem;
    align-content: baseline;
    .title{
        font-size: 2rem;
        font-weight: 600;
    }
    .img{
        min-height: 300px;
    }

    @media screen and (max-width: 640px) {
        & {
            padding: 0 0.5rem;
        }
    }
}