.split-article {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    .paragraph{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}